@import '../common';

.activities {
  margin: 0 -16px;
  display: flex;
  width: 100%;

  :global {
    .slick-list {
      overflow: unset;
    }

    .slick-slider {
      position: relative;
      padding-bottom: 56px;
      width: 100%;
    }

    .slick-track {
      min-width: 100%;
      display: flex;
    }

    .slick-dots {
      display: flex!important;
      align-items: center;
      justify-content: center;
      gap: 16px;
      position: absolute;
      list-style-type: none;
      padding: 0;
      left: 0;
      right: 0;
      bottom: 0;

      li {
        width: 10px;
        height: 10px;

        button {
          display: block;
          text-indent: -9999px;
          border: none;
          padding: 0;
          margin: 0;
          width: 10px;
          height: 10px;
          background-color: var(--neutral-300-color);
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .slick-active {
        button {
          background-color: var(--primary-plain-color);
        }
      }
    }
  }
}

.activitiesSliderControls {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: auto;
  width: 112px;
  max-width: 112px;
  justify-content: flex-end;
}

.activitiesSliderArrow {
  display: flex;
  width: 48px;
  height: 48px;
  min-width: 48px;
  box-shadow: 0 1px 3px rgba(16, 24, 40, 0.1);
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  transition: width 0.3s ease, min-width 0.3s ease;

  &:hover {
    min-width: 84px;
    width: 84px;
    background-color: var(--neutral-500-color);
  }
}

.activitiesSliderArrow_prev {
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    background: url("../../public/icon--arrow-rounded.svg") center center no-repeat;
  }
}

.activitiesSliderArrow_next {
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    background: url("../../public/icon--arrow-rounded.svg") center center no-repeat;
    transform: scaleX(-1);
  }
}

.activitiesSlide {
  width: 392px!important;
  padding: 0 16px;
}

:global(.slick-slide) {
  &:nth-child(4n - 3) {
    .activitiesSlideImageBox {
      background-color: var(--danger-300-color);
    }
  }

  &:nth-child(4n - 2) {
    .activitiesSlideImageBox {
      background-color: var(--warning-300-color);
    }
  }

  &:nth-child(4n - 1) {
    .activitiesSlideImageBox {
      background-color: var(--primary-300-color);
    }
  }

  &:nth-child(4n) {
    .activitiesSlideImageBox {
      background-color: var(--success-300-color);
    }
  }

  &:hover {
    .activitiesSlideImageBox {
      background-color: var(--primary-100-color);
    }

    .activitiesSlideTitle {
      color: var(--primary-plain-color);
    }
  }
}

.activitiesSlideImageBox {
  height: 224px;
  display: flex;
  border-radius: 16px;
  margin-bottom: 16px;
  transition: background-color 0.3s ease-in;
  overflow: hidden;
}

.activitiesSlideImage {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 176px;
  max-height: 176px;
  margin: auto;
  object-fit: contain;
  object-position: center;
}

.activitiesSlideTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  transition: color 0.3s ease-in;
}

.activitiesSlidePara {
  color: var(--text-secondary-color);
}

@media (width < $laptopSmall) {
  .activities {
    :global {
      .slick-slider {
        padding-bottom: 42px;
      }
    }
  }

  .activitiesSlide {
    width: 320px!important;
  }

  .activitiesSlideImageBox {
    height: 200px;
    margin-bottom: 8px;
  }

  .activitiesSlideTitle {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

@media (width < $tablet) {
  .activitiesSliderControls {
    display: none;
  }
}
