@import '../common';

.howItWorks {
  display: flex;
  gap: 64px;
  margin-bottom: 80px;
}

.howItWorksImageWrapper {
  flex: 1 1 0;
  position: relative;
  display: flex;
  height: 580px;

  &:global(.slide0) {
    .howItWorksImage1_1 {
      opacity: 1;
    }

    .howItWorksImage2_1 {
      opacity: 1;
    }
  }

  &:global(.slide1) {
    .howItWorksImageBox1 {}

    .howItWorksImageBox2 {
      width: 209px;
      height: 433px;
      translate: 121px 0;
    }

    .howItWorksImage1_2 {
      opacity: 1;
    }

    .howItWorksImage2_2 {
      opacity: 1;
    }
  }

  &:global(.slide2) {
    .howItWorksImageBox1 {
      width: 281px;
      height: 580px;
      translate: -121px 0;
      z-index: 10;
    }

    .howItWorksImageBox2 {
      width: 209px;
      height: 433px;
      translate: 83px 0;
    }

    .howItWorksImage1_2 {
      opacity: 1;
    }

    .howItWorksImage2_3 {
      opacity: 1;
    }
  }

  &:global(.slide3) {
    .howItWorksImageBox1 {
      width: 209px;
      height: 433px;
      translate: 121px 0;
    }

    .howItWorksImageBox2 {
      width: 209px;
      height: 433px;
      translate: -121px 0;
    }

    .howItWorksImage1_2 {
      opacity: 1;
    }

    .howItWorksImage2_3 {
      opacity: 1;
    }
  }
}

.howItWorksImageBox1 {
  width: 209px;
  height: 433px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  translate: -121px 0;
  transition: all 0.3s ease;
}

.howItWorksImageBox2 {
  width: 281px;
  height: 580px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  translate: 83px 0;
  transition: all 0.3s ease;
}

.howItWorksImage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-size: contain;
}

.howItWorksImage1_1 {
  background: url("../../public/img--how-it-works-1.png") center center / contain no-repeat;
}

.howItWorksImage1_2 {
  background: url("../../public/img--how-it-works-2.png") center center / contain no-repeat;
}

.howItWorksImage2_1 {
  background: url("../../public/img--how-it-works-2.png") center center / contain no-repeat;
}

.howItWorksImage2_2 {
  background: url("../../public/img--how-it-works-3.png") center center / contain no-repeat;
}

.howItWorksImage2_3 {
  background: url("../../public/img--how-it-works-1.png") center center / contain no-repeat;
}

.howItWorksImageBg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: var(--background-level-1-color);
}

.howItWorksContent {
  flex: 1 1 0;
  padding: 30px 0;
  min-width: 652px;

  [class^="styles_accordionItemContent__"] {
    padding-left: 48px;
  }

  :global(.active) {
    .howItWorksIcon {
      filter: contrast(0) brightness(3);
    }
  }
}

.howItWorksContentTitle {
  display: flex;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  align-items: center;
}


.howItWorksIcon {
  display: block;
  width: 32px;
  height: 32px;
  margin: -1px 16px -1px 0;
}

.howItWorksIcon_participate {
  background: url("../../public/icon--participate.svg") center center no-repeat;
}

.howItWorksIcon_recognitions {
  background: url("../../public/icon--recognitions.svg") center center no-repeat;
}

.howItWorksIcon_communicate {
  background: url("../../public/icon--communicate.svg") center center no-repeat;
}

.howItWorksIcon_rewards {
  background: url("../../public/icon--rewards.svg") center center no-repeat;
}

.howItWorksContentPara {
  &:last-child {
    margin-bottom: 0;
  }
}

.howItWorksMore {
  display: flex;
  gap: 36px;
}

.howItWorksMoreCol {
  flex: 1 1 0;
  border-radius: 16px;
  background-color: var(--background-level-1-color);
  padding: 32px;
  text-align: center;
}

.howItWorksMoreItems {
  display: flex;
  gap: 8px;
  margin: 0 0 24px 0;
  align-items: center;
  justify-content: center;
}

.howItWorksMoreItem {
  width: 56px;
  height: 56px;
  border: 3px solid var(--background-level-1-color);
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

.howItWorksMoreItemImage {
  display: block;
  width: 100%;
  height: 100%;
}

.howItWorksMoreTitle {
  font-size: 20px;
  font-weight: 500;
}

@media (width < $laptopLarge) {
  .howItWorksMore {
    gap: 16px;
  }

  .howItWorksMoreCol {
    padding: 16px;
  }
}

@media (width < $laptopSmall) {
  .howItWorks {
    gap: 32px;
    margin-bottom: 32px;
  }

  .howItWorksImageWrapper {
    height: 364px;
    min-height: 364px;

    &:global(.slide0) {
      .howItWorksImageBox1 {
        width: 131px;
        height: 271px;
        translate: -84px 0;
      }

      .howItWorksImageBox2 {
        width: 176px;
        height: 364px;
        translate: 44px 0;
      }
    }

    &:global(.slide1) {
      .howItWorksImageBox1 {
        width: 131px;
        height: 271px;
        translate: -84px 0;
      }

      .howItWorksImageBox2 {
        width: 131px;
        height: 271px;
        translate: 84px 0;
      }
    }

    &:global(.slide2) {
      .howItWorksImageBox1 {
        width: 176px;
        height: 364px;
        translate: -44px 0;
      }

      .howItWorksImageBox2 {
        width: 131px;
        height: 271px;
        translate: 84px 0;
      }
    }

    &:global(.slide3) {
      .howItWorksImageBox1 {
        width: 131px;
        height: 271px;
        translate: 84px 0;
      }

      .howItWorksImageBox2 {
        width: 131px;
        height: 271px;
        translate: -84px 0;
      }
    }
  }

  .howItWorksContent {
    min-width: 379px;
    padding: 0;
  }

  .howItWorksContentTitle {
    font-size: 16px;
  }

  .howItWorksContentPara {
    font-size: 14px;
  }

  .howItWorksMoreItems {
    gap: 0;
    margin-bottom: 16px;
  }

  .howItWorksMoreItem {
    width: 48px;
    height: 48px;

    & + & {
      margin-left: -12px;
    }
  }

  .howItWorksMoreTitle {
    font-size: 16px;
  }
}

@media (width < $tablet) {
  .howItWorks {
    flex-direction: column;
  }

  .howItWorksContent {
    min-width: unset;
  }

  .howItWorksMore {
    flex-direction: column;
  }
}
